body {
  margin: 0px;
  padding: 0px;
  background-image: url(../imagenes/prueba2.jpg);
  font-family: serif;
}

/* PAGINA PRINCIPAL */
/* menu */
.navbar {
  background-color: rgba(0, 0, 0, 0.452);
}

/* nombre web */
.navbar-brand {
  color: white;
  font-size: 38px;
}
.navbar-brand:hover {
  color: black;
  background-color: whitesmoke;
  border: solid 2px black;
  border-radius: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

/* imagen de menu */
.menu__img {
  position: relative;
  right: 10px;
  width: 50px;
  height: 50px;
  border: solid 2px white;
  border-radius: 100px;
}

/* menu hamburguesa */
.navbar-toggler {
  background-color: white;
  margin-right: 10px;
}

/* li de links */
.nav-item {
  display: flex;
  justify-content: center;
  /* links */
}
.nav-item .nav-link {
  margin-left: 50px;
  color: white;
  font-size: 20px;
}
.nav-item .nav-link:hover {
  color: black;
  background-color: whitesmoke;
  border: solid 2px black;
  border-radius: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.padre_medio_izq_index {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

.nombre_moustros {
  color: black;
  font-size: 28px;
  margin-top: 20px;
  background-color: #FF4400;
}

.moustros {
  font-size: 33px;
}

.cuadro_moustro_index {
  color: white;
  background-color: black;
  margin-top: 88px;
  width: 250px;
  height: 470px;
  margin-left: 40px;
  text-align: center;
  border: ridge 3px whitesmoke;
}

.jugar_ahora {
  display: flex;
  justify-content: center;
  align-items: end;
}
.jugar_ahora a {
  color: white;
  background-color: black;
  text-decoration: none;
  margin-bottom: 50px;
  font-size: 30px;
  border: ridge 3px whitesmoke;
  padding: 5px;
  border-radius: 100px;
}
.jugar_ahora a:hover {
  color: black;
  background-color: whitesmoke;
}

.bienvenida_index {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-right: 25px;
  text-align: center;
}

.bienvenida_p {
  color: white;
  background-color: black;
  border: ridge 8px #FF4400;
  border-radius: 50px;
  width: 260px;
  font-size: 20px;
}

.redes_padre_ranking {
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

.instagram, .facebook {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  color: white;
}

.tiktok {
  margin-right: 70px;
  width: 45px;
  height: 45px;
}

.facebook {
  color: blue;
}

.descarga_padre_ranking {
  margin-top: 20px;
}
.descarga_padre_ranking a {
  font-size: 25px;
  color: white;
  background-color: black;
  text-decoration: none;
  border: ridge 5px gray;
  border-radius: 20px;
  padding: 10px 10px;
  font-family: arial;
}

@media screen and (max-width: 1421px) {
  .nav-item .nav-link {
    margin-left: 40px;
  }
}
@media screen and (max-width: 1351px) {
  .nav-item .nav-link {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1281px) {
  .nav-item .nav-link {
    margin-left: 25px;
  }
}
@media screen and (max-width: 1246px) {
  .nav-item .nav-link {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1211px) {
  .nav-item .nav-link {
    margin-left: 15px;
  }
}
@media screen and (max-width: 1176px) {
  .nav-item .nav-link {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1141px) {
  .nav-item .nav-link {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1111px) {
  .jugar_ahora a {
    font-size: 25px;
  }
}
@media screen and (max-width: 1071px) {
  .nav-item .nav-link {
    font-size: 18px;
  }
}
@media screen and (max-width: 1021px) {
  .nav-item .nav-link {
    font-size: 17px;
  }
}
@media screen and (max-width: 992px) {
  .nav-item .nav-link {
    font-size: 25px;
  }
}
@media screen and (max-width: 943px) {
  .jugar_ahora a {
    font-size: 23px;
  }
  .nombre_moustros {
    font-size: 25px;
    margin-top: 20px;
  }
  .moustros {
    font-size: 28px;
  }
  .cuadro_moustro_index {
    font-size: 10px;
    margin-top: 120px;
    width: 240px;
    height: 390px;
    margin-left: 50px;
  }
  .bienvenida_p {
    border-radius: 30px;
    width: 230px;
    font-size: 20px;
  }
}
@media screen and (max-width: 871px) {
  .jugar_ahora a {
    font-size: 20px;
  }
  .instagram, .facebook {
    width: 40px;
    height: 40px;
  }
  .tiktok {
    width: 40px;
    height: 40px;
  }
  .facebook {
    width: 40px;
    height: 40px;
  }
  .descarga_padre_ranking a {
    font-size: 23px;
  }
}
@media screen and (max-width: 818px) {
  .jugar_ahora a {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 35px;
  }
  .menu__img {
    width: 40px;
    height: 40px;
  }
  .jugar_ahora a {
    font-size: 17px;
  }
  .bienvenida_p {
    padding: 2px;
  }
  .tiktok {
    margin-right: 45px;
  }
}
@media screen and (max-width: 767px) {
  .nombre_moustros {
    font-size: 28px;
  }
  .cuadro_moustro_index {
    order: 2;
    margin-top: 10px;
    width: 80%;
    height: 390px;
    margin-left: 75px;
  }
  .jugar_ahora a {
    font-size: 20px;
    margin-top: 25px;
  }
  .bienvenida_index {
    order: -1;
    width: 100%;
  }
  .bienvenida_p {
    padding: 7px;
    border: ridge 7px #FF4400;
    border-radius: 40px;
    width: 90%;
  }
  .redes_padre_ranking {
    position: relative;
    top: 50px;
    order: -1;
  }
  .redes_padre_ranking a {
    font-size: 20px;
  }
  .tiktok {
    margin-right: 10px;
  }
}
@media screen and (max-width: 640px) {
  .instagram, .facebook {
    margin-right: 15px;
  }
  .tiktok {
    margin-right: 1px;
  }
  .facebook {
    margin-right: 15px;
  }
  .cuadro_moustro_index {
    width: 80%;
    height: 390px;
    margin-left: 53px;
  }
}
@media screen and (max-width: 500px) {
  .instagram, .facebook {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  .tiktok {
    width: 30px;
    height: 30px;
  }
  .facebook {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  .descarga_padre_ranking a {
    font-size: 18px;
  }
  .cuadro_moustro_index {
    margin-left: 45px;
  }
}
@media screen and (max-width: 426px) {
  .nav-item .nav-link {
    font-size: 20px;
  }
  .padre_medio_izq_index {
    margin-top: 60px;
    margin-right: 5px;
  }
  .nombre_moustros {
    font-size: 25px;
    margin-top: 20px;
  }
  .moustros {
    display: inline;
    padding-left: 40px;
    padding-right: 30px;
  }
  .cuadro_moustro_index {
    margin-top: 80px;
    width: 411px;
    height: 200px;
    margin-left: 10px;
    text-align: center;
  }
  .jugar_ahora a {
    position: absolute;
    top: 400px;
    left: 155px;
    font-size: 15px;
  }
  .bienvenida_index {
    order: -1;
    width: 580px;
    margin-left: 10px;
    text-align: center;
  }
  .bienvenida_p {
    width: 580px;
    height: 260px;
    font-size: 15px;
    padding: 5px 10px;
  }
  .descarga_padre_ranking a {
    font-size: 15px;
  }
  .redes_padre {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 395px) {
  .navbar-brand {
    font-size: 30px;
  }
}
@media screen and (max-width: 376px) {
  .nav-item .nav-link {
    font-size: 15px;
  }
  .bienvenida_p {
    height: 310px;
  }
  .jugar_ahora a {
    top: 450px;
    left: 145px;
  }
  .moustros {
    padding-left: 30px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 360px) {
  .jugar_ahora a {
    left: 130px;
  }
  .bienvenida_p {
    height: 320px;
  }
}
@media screen and (max-width: 341px) {
  .navbar-brand {
    font-size: 25px;
  }
}
@media screen and (max-width: 324px) {
  .bienvenida_p {
    height: 380px;
  }
  .jugar_ahora a {
    top: 500px;
    left: 110px;
  }
  .moustros {
    padding-left: 15px;
    padding-right: 20px;
  }
  .descarga_padre_ranking a {
    font-size: 13px;
  }
}
@media screen and (max-width: 306px) {
  .bienvenida_p {
    height: 365px;
  }
  .jugar_ahora a {
    top: 570px;
    left: 105px;
  }
  .descarga_padre_ranking a {
    font-size: 12px;
    border: ridge 3px red;
  }
}
@media screen and (max-width: 284px) {
  .bienvenida_p {
    height: 375px;
  }
  .jugar_ahora a {
    top: 570px;
    left: 105px;
  }
  .descarga_padre_ranking a {
    font-size: 12px;
    border: ridge 3px red;
  }
}
/* CAMPEONES */ /* CAMPEONES */
.padre_selector {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  padding-top: 15px;
  border: solid 2px black;
  border-radius: 10px;
}

.selector {
  color: black;
  width: 100px;
  height: 35px;
  border-radius: 5px;
}

.campeones {
  display: inline;
  list-style: none;
  font-size: 20px;
  padding-left: 50px;
}
.campeones a {
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
.campeones a:hover {
  background-color: red;
}

.padre_carousel {
  display: flex;
  justify-content: center;
}

#carouselExampleCaptions {
  width: 50%;
  height: 710px;
  margin-bottom: 60px;
}

.padre_img {
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: whitesmoke;
  border: solid 5px whitesmoke;
  border-radius: 10px;
}

.img {
  border-radius: 95px;
  width: 100%;
  height: 700px;
}

.descripcion_campeones {
  font-size: 20px;
}

@media screen and (max-width: 1025px) {
  #carouselExampleCaptions {
    width: 70%;
  }
  .campeones {
    padding-left: 40px;
  }
}
@media screen and (max-width: 957px) {
  .selector {
    width: 80px;
  }
  .campeones {
    font-size: 18px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 893px) {
  .selector {
    width: 75px;
  }
  .campeones {
    font-size: 18px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 832px) {
  .selector {
    width: 73px;
    height: 30px;
  }
  .campeones {
    font-size: 17px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 769px) {
  #carouselExampleCaptions {
    width: 90%;
  }
  .img {
    border-radius: 60px;
  }
}
@media screen and (max-width: 725px) {
  .campeones {
    font-size: 16px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 649px) {
  .campeones {
    font-size: 15px;
    padding-left: 5px;
  }
}
@media screen and (max-width: 597px) {
  .campeones {
    padding-left: 0px;
  }
}
@media screen and (max-width: 568px) {
  .selector {
    margin-bottom: 10px;
  }
  .campeones {
    padding-right: 10px;
  }
}
@media screen and (max-width: 554px) {
  .selector {
    font-size: 13px;
  }
  .campeones {
    font-size: 13px;
  }
}
@media screen and (max-width: 487px) {
  .campeones {
    padding-right: 0px;
  }
}
@media screen and (max-width: 426px) {
  .padre_selector {
    align-items: center;
  }
  .selector {
    width: 100px;
    font-size: 15px;
  }
  .campeones {
    font-size: 15px;
    display: block;
    padding-top: 10px;
  }
  #carouselExampleCaptions {
    height: 610px;
    width: 100%;
  }
  .img {
    border-radius: 35px;
    height: 600px;
  }
  .descripcion_campeones {
    font-size: 17px;
  }
}
@media screen and (max-width: 376px) {
  #carouselExampleCaptions {
    height: 510px;
  }
  .img {
    border-radius: 35px;
    height: 500px;
  }
  .descripcion_campeones {
    font-size: 16px;
  }
}
/* SECTOR RANKING */ /* SECTOR RANKING */
.ranking_menu {
  max-width: 900px;
  background-color: black;
  margin: auto;
  margin-top: 50px;
  border: ridge 4px #FF4400;
  border-radius: 10px;
}

.ranking_menu_horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.ranking_menu_horizontal li a {
  display: block;
  color: white;
  padding: 18px 20px 0px 20px;
}
.ranking_menu_horizontal li:hover .ranking_menu_vertical {
  display: block;
}

.ranking_menu_vertical {
  list-style: none;
  position: absolute;
  display: none;
}
.ranking_menu_vertical li a {
  background-color: rgba(0, 0, 0, 0.474);
  text-align: center;
  display: block;
  width: 130px;
  height: 40px;
  margin-bottom: 2px;
  padding-bottom: 10px;
  border: ridge 2px black;
  border-radius: 30px;
}
.ranking_menu_vertical li:hover {
  background-color: red;
  border-radius: 20px;
}

.ranking_buscar {
  margin-top: 14px;
}

ul li a {
  text-decoration: none;
}

/* CUADROS */ /* CUADROS */ /* CUADROS */
.padre_medio_ranking {
  display: flex;
  justify-content: center;
  height: 600px;
  margin-top: 90px;
}

.ranking_cuadro {
  list-style: none;
  font-size: 30px;
  text-align: center;
}
.ranking_cuadro li {
  background-color: whitesmoke;
  border: ridge 5px black;
}

.padre_cambio_de_pagina {
  display: flex;
  justify-content: center;
}

.cambio_de_pagina {
  display: flex;
  border: solid 1px black;
  border-radius: 5px;
}

.pagina_link {
  color: black;
  background-color: red;
  padding: 6px 13px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .padre_medio_ranking {
    margin-right: 10px;
  }
}
@media screen and (max-width: 340px) {
  .padre_medio_ranking {
    margin-right: 15px;
  }
}
/* SECTOR LISTA DE DROPS */ /* SECTOR LISTA DE DROPS */
/* LISTA 1 */
.nombre_drops {
  color: white;
}

.lista {
  margin-top: 20px;
  background-color: white;
  text-align: center;
  font-size: 50px;
  font-family: fantasy;
}

.contenedor_lista1, .contenedor_lista5, .contenedor_lista4, .contenedor_lista3, .contenedor_lista2 {
  background-color: black;
  border: solid 2px greenyellow;
  margin: 10px;
}

.lista1_ul h1 {
  font-size: 30px;
  color: white;
}

.lista1_ul li {
  padding-bottom: 20px;
  color: white;
  font-size: 20px;
}

/* LISTA 2 */
.contenedor_lista2 {
  border: solid 2px red;
}

.lista2_ul h1 {
  color: white;
  font-size: 30px;
}

.lista2_ul li {
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}

/* LISTA 3 */
.contenedor_lista3 {
  border: solid 2px greenyellow;
}

.lista3_ul h1 {
  color: white;
  font-size: 30px;
}

.lista3_ul li {
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}

/* LISTA 4 */
.contenedor_lista4 {
  border: solid 2px red;
}

.lista4_ul h1 {
  color: white;
  font-size: 30px;
}

.lista4_ul li {
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}

/* LISTA 5 */
.contenedor_lista5 {
  border: solid 2px greenyellow;
}

.lista5_ul h1 {
  color: white;
  font-size: 30px;
}

.lista5_ul li {
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 769px) {
  .lista {
    font-size: 45px;
  }
  .lista1_ul h1 {
    font-size: 25px;
  }
  .lista2_ul h1 {
    font-size: 25px;
  }
  .lista3_ul h1 {
    font-size: 25px;
  }
  .lista4_ul h1 {
    font-size: 25px;
  }
  .lista5_ul h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 426px) {
  .lista {
    font-size: 40px;
  }
}
/* SECTOR DESCARGAS */ /* SECTOR DESCARGAS */
.descargas_p, .descargas_pb {
  color: white;
  background-color: black;
  border: ridge 5px #FF4400;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.descargas_p a, .descargas_pb a {
  text-decoration: none;
  color: #FF4400;
}

.descargas_pb {
  border: ridge 2px #FF4400;
  margin-top: 150px;
  padding: 10px;
}

.descarga_padre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.descarga_img {
  margin-top: 100px;
  width: 300px;
  height: 267px;
  transition: all 1s;
}
.descarga_img:hover {
  width: 350px;
  background-color: whitesmoke;
  border-radius: 30px;
}

.descarga_r {
  display: flex;
  justify-content: space-between;
}

.descarga_a {
  text-decoration: none;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: black;
  border: ridge 2px red;
  border-radius: 100px;
}

@media screen and (max-width: 926px) {
  .descarga_img {
    width: 260px;
  }
}
@media screen and (max-width: 905px) {
  .descarga_img {
    width: 245px;
    height: 237px;
  }
}
@media screen and (max-width: 768px) {
  .descarga_img {
    width: 220px;
    height: 217px;
  }
}
@media screen and (max-width: 680px) {
  .descarga_img {
    width: 220px;
    height: 217px;
  }
  .descarga_img:hover {
    width: 250px;
  }
}
@media screen and (max-width: 426px) {
  .descargas_p, .descargas_pb {
    font-size: 18px;
  }
}
/* SECTOR HISTORIAS */ /* SECTOR HISTORIAS */
/* ZEUS */
.historias_zeus, .historias_dionisio, .historias_hermes, .historias_ares, .historias_poseidon, .historias_hades, .historias_afrodita, .historias_hefesto, .historias_atenea, .historias_apolo, .historias_artemisa, .historias_hera {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 12px;
  background-color: rgba(0, 255, 255, 0.337);
  border: solid 2px white;
  border-radius: 40px;
}

.zeus_img {
  width: 250px;
  height: 287px;
  border: solid 2px white;
  border-radius: 80px;
}

.zeus_p, .dionisio_p, .hermes_p, .ares_p, .poseidon_p, .hades_p, .afrodita_p, .hefesto_p, .atenea_p, .apolo_p, .artemisa_p, .hera_p {
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 10px;
}

.zeus_nombre, .dionisio_nombre, .hermes_nombre, .ares_nombre, .poseidon_nombre, .hades_nombre, .afrodita_nombre, .hefesto_nombre, .atenea_nombre, .apolo_nombre, .artemisa_nombre, .hera_nombre {
  color: black;
  background-color: rgba(128, 0, 128, 0.756);
  border-radius: 20px;
  font-size: 50px;
  margin-left: 10px;
  padding: 2px 5px;
}

/* HERA */
.historias_hera {
  background-color: rgba(172, 255, 47, 0.337);
  border-radius: 40px;
}

.hera_img {
  width: 250px;
  height: 287px;
  border: solid 2px white;
  border-radius: 80px;
}

/* ARTEMISA */
.historias_artemisa {
  border-radius: 40px;
}

.artemisa_img {
  width: 250px;
  height: 287px;
  border: solid 2px white;
  border-radius: 80px;
}

.artemisa_p {
  margin-left: 10px;
  margin-right: 10px;
}

/* APOLO */
.historias_apolo {
  background-color: rgba(172, 255, 47, 0.337);
  border-radius: 40px;
}

.apolo_img {
  width: 250px;
  height: 287px;
  border: solid 2px white;
  border-radius: 80px;
}

/* ATENEA */
.historias_atenea {
  border-radius: 40px;
}

.atenea_img {
  width: 250px;
  height: 287px;
  border: solid 2px white;
  border-radius: 80px;
}

.atenea_p {
  margin: 10px;
}

/* HEFESTO */
.historias_hefesto {
  background-color: rgba(172, 255, 47, 0.337);
  border-radius: 40px;
}

.hefesto_img {
  width: 250px;
  height: 287px;
  border: solid 2px white;
  border-radius: 80px;
}

.hefesto_p {
  margin: 5px;
}

/* AFRODITA */
.historias_afrodita {
  margin: 10px 0px 10px 10px;
  border-radius: 40px;
}

.afrodita_img {
  width: 250px;
  height: 287px;
  border: solid 2px white;
  border-radius: 80px;
}

/* HADES */
.historias_hades {
  background-color: rgba(172, 255, 47, 0.337);
  border-radius: 40px;
}

.hades_img {
  width: 250px;
  height: 287px;
  border: solid 2px white;
  border-radius: 80px;
}

.hades_p {
  margin-left: 5px;
  margin-right: 5px;
}

/* POSEIDON */
.historias_poseidon {
  margin-left: 10px;
  border-radius: 40px;
}

.poseidon_img {
  width: 250px;
  height: 287px;
  border: solid 2px white;
  border-radius: 80px;
}

.poseidon_p {
  margin-right: 10px;
}

/* ARES */
.historias_ares {
  background-color: rgba(172, 255, 47, 0.337);
  border-radius: 40px;
}

.ares_img {
  width: 250px;
  height: 287px;
  border: solid 2px white;
  border-radius: 80px;
}

.ares_p {
  margin-left: 10px;
  margin-right: 10px;
}

/* HERMES */
.historias_hermes {
  margin-left: 10px;
  border-radius: 40px;
}

.hermes_img {
  width: 250px;
  height: 287px;
  border: solid 2px white;
  border-radius: 80px;
}

/* DIONISIO */
.historias_dionisio {
  margin: 10px;
  background-color: rgba(172, 255, 47, 0.337);
  border-radius: 40px;
}

.dionisio_img {
  width: 250px;
  height: 287px;
  border: solid 2px white;
  border-radius: 80px;
}

@media screen and (max-width: 426px) {
  .zeus_nombre, .hera_nombre, .artemisa_nombre, .apolo_nombre, .atenea_nombre, .hefesto_nombre, .afrodita_nombre, .hades_nombre, .poseidon_nombre, .ares_nombre, .hermes_nombre, .dionisio_nombre {
    font-size: 40px;
    margin-top: 10px;
  }
  .zeus_p, .hera_p, .artemisa_p, .apolo_p, .atenea_p, .hefesto_p, .afrodita_p, .hades_p, .poseidon_p, .ares_p, .hermes_p, .dionisio_p {
    font-size: 18px;
  }
  .zeus_img {
    width: 90%;
  }
  .hera_img {
    width: 90%;
  }
  .artemisa_img {
    width: 90%;
  }
  .apolo_img {
    width: 90%;
  }
  .atenea_img {
    width: 90%;
  }
  .hefesto_img {
    width: 90%;
  }
  .afrodita_img {
    width: 90%;
  }
  .hades_img {
    width: 90%;
  }
  .poseidon_img {
    width: 90%;
  }
  .ares_img {
    width: 90%;
  }
  .hermes_img {
    width: 90%;
  }
  .dionisio_img {
    width: 90%;
  }
}
@media screen and (max-width: 321px) {
  .zeus_nombre, .hera_nombre, .artemisa_nombre, .apolo_nombre, .atenea_nombre, .hefesto_nombre, .afrodita_nombre, .hades_nombre, .poseidon_nombre, .ares_nombre, .hermes_nombre, .dionisio_nombre {
    font-size: 35px;
  }
}
/* SECTOR REGISTRATE */ /* SECTOR REGISTRATE */
.cuadro_padre {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.registrate_nombre {
  padding-top: 10px;
  font-size: 40px;
}

.registrate_nombres {
  display: block;
  font-size: 25px;
  padding-top: 20px;
}

.registrate_barras {
  width: 250px;
}

.crearcuenta {
  margin-top: 20px;
}

@media screen and (max-width: 426px) {
  .registrate_nombre {
    font-size: 35px;
  }
  .registrate_nombres {
    font-size: 23px;
  }
}
@media screen and (max-width: 376px) {
  .cuadro_padre {
    width: 90%;
    margin-left: 18px;
  }
  .registrate_nombre {
    padding-top: 15px;
    font-size: 32px;
  }
  .registrate_nombres {
    font-size: 20px;
  }
}
@media screen and (max-width: 321px) {
  .cuadro_padre {
    margin-left: 15px;
  }
  .registrate_barras {
    width: 220px;
  }
}
/* SECTOR INICIA SESION */ /* SECTOR INICIA SESION */
.inicia_sesion_cuadro {
  width: 400px;
  height: 500px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.477);
  margin-top: 80px;
}

.inicia_nombre {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 40px;
}

.nombres {
  display: block;
  font-size: 25px;
  padding-top: 15px;
}

.barras {
  width: 250px;
  margin-bottom: 20px;
}

.entrar {
  width: 80px;
  font-size: 20px;
  margin-top: 35px;
}

@media screen and (max-width: 426px) {
  .nombres {
    font-size: 22px;
    padding-top: 20px;
  }
  .inicia_nombre {
    font-size: 40px;
  }
  .inicia_sesion_cuadro {
    width: 380px;
    height: 450px;
  }
}
@media screen and (max-width: 321px) {
  .barras {
    width: 230px;
  }
}
/* menu bootstrap */

/*# sourceMappingURL=estilos.css.map */
