body{  
    margin: 0px;
    padding: 0px;
    background-image: url(../imagenes/prueba2.jpg);
    font-family: serif
}


        /* PAGINA PRINCIPAL */
.menu{
    background-color: rgba(0, 0, 0, 0.452);
}

.nombre_pagina{
    color: white;
    height: 60px;
}

.menu_img{
    right: 40px;
    width: 50px;
    height: 50px;
    border: solid 2px white;
    border-radius: 100px;
}

.menu_link{
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 4px 5px 0px 5px ;
    justify-content: space-around;
    text-decoration: none;
    font-size: 20px;
}

.menu_link a:hover{
    background-color: red;
    margin-bottom: 15px;
    border: solid 2px black;
    border-radius: 50px;
    
}
                /* CONTENIDO MEDIO */ /* CONTENIDO MEDIO */



.padre_medio_izq_index{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.nombre_moustros{
    font-size: 28px;
    margin-top: 20px;
    background-color: greenyellow;
}

.cuadro_moustro_index{
    color: white;
    background-color: black;
    margin-top: 88px;
    width: 250px;
    height: 470px;
    margin-left: 40px;
    text-align: center;
    border: ridge 3px whitesmoke;
    
}


.jugar_ahora{
    display: flex;
    justify-content: center;
    align-items: end;
}

.jugar_ahora a{
    color: white;
    background-color: black;
    text-decoration: none;
    margin-bottom: 50px;
    font-size: 30px;
    border: ridge 3px yellowgreen;
    padding: 5px;
    border-radius: 100px;
}

.jugar_ahora a:hover {
    color: black;
    background-color: whitesmoke;
}

.bienvenida_index{
    display: flex;
    justify-content: center;
    width: 300px;
    margin-right: 25px;
    text-align: center;
}

.bienvenida_p{
    color: white;
    background-color: black;
    border: ridge 5px yellowgreen;
    border-radius: 50px;
    width: 260px;
    font-size: 20px;
}

.redes_padre{
    display: flex;
    justify-content:end;
    padding-top: 10px;
}

.instagram{
    margin-right: 20px;
    width: 50px;
    height: 60px;
    color: red;
}
.tiktok{
    margin-right: 70px;
    width: 45px;
    height: 45px; 
}
 .facebook{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    color: blue;
    background-color: white;
    border-radius: 50px;
 }

 .descarga_padre{
    margin-top: 20px;
}

.descarga_hijo{
    font-size: 25px;
    color: white;
    background-color: black;
    text-decoration: none;
    border: ridge 5px red;
    border-radius: 20px;
    padding: 10px 10px;
    margin-left: 18px;
}

 
 @media screen and (max-width:1111px){
    .jugar_ahora a{
        font-size: 25px;
    }
}

@media screen and (max-width:1051px){

    .nombre_pagina{
        height: 40px;
        display: flex;
        justify-content: center;
        width: 100%;  
    }

    .menu_link{
        display: flex;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 943px){
    .jugar_ahora a{
        font-size: 23px;
    }

    .nombre_moustros{
        font-size: 25px;
        margin-top: 20px;
    }
    
    h2{
        font-size: 25px;
    }

    .cuadro_moustro_index{
        font-size: 10px;
        margin-top: 120px;
        width: 240px;
        height: 390px;
        margin-left: 50px;
    }
    .descarga_hijo{
        font-size: 20px;
    }


    .bienvenida_p{
        border-radius: 30px;
        width: 230px;
        font-size: 20px;
    }


}

@media screen and (max-width: 871px){
    .jugar_ahora a{
        font-size: 20px;
    }
}

@media screen and (max-width: 818px){
    .jugar_ahora a{
        font-size: 15px;
    }
}


@media screen and (max-width:768px){
    
    .menu_img{
        width: 40px;
        height: 40px;
    }

    .jugar_ahora a{
        font-size: 17px;
    }

    .cuadro_moustro_index{
        margin-left: 20px;
        
    }
    .descarga_hijo{
        font-size: 20px;
    }

    .bienvenida_index{
        margin-right: 0px;
    }

    .bienvenida_p{
        font-size: 20px;
        padding: 2px;
    }

    .redes_padre{
        display: flex;
        justify-content:end;
        padding-top: 10px;
    }
    
    .instagram{
        margin-right: 20px;
        width: 40px;
        height: 40px;
        color: red;
    }
    .tiktok{
        margin-right: 45px;
        width: 40px;
        height: 40px; 
    }
     .facebook{
        margin-right: 20px;
        width: 40px;
        height: 40px;
        color: blue;
        background-color: white;
        border-radius: 50px;
     }

     
}




@media screen and (max-width:426px){

    .nombre_pagina{
        height: 30px;
    }
    
    .menu_img{
        width: 35px;
        height: 35px;
    }
    
    .menu_link{
        font-size: 15px;
    }
    
    .padre_medio_izq_index{
        margin-top: 60px;
        margin-right: 5px;
    }
    
    .nombre_moustros{
        font-size: 25px;
        margin-top: 20px;
    }
    
    h2{
        display: inline;
        padding-left: 40px;
        padding-right: 30px;
    }

    .cuadro_moustro_index{
        margin-top: 80px;
        width: 411px;
        height: 200px;
        margin-left: 10px;
        text-align: center;
    }
    
    
    .jugar_ahora a{
        position: absolute;
        top: 460px;
        left: 170px;
        font-size: 15px;
    }


    .bienvenida_index{
        order: -1;
        width: 580px;
        margin-left: 10px;
        text-align: center;
    }
    
    .bienvenida_p{
        width: 580px;
        height: 250px;
        font-size: 15px;
        padding: 5px 10px;
    }

    .descarga_padre{
        margin-top: 30px;
        order: 1;
    }
    
    .descarga_hijo{
        margin-left: 80px;
        font-size: 20px;
        padding: 10px 10px;
    }

    .redes_padre{
        margin-bottom: 20px;
    }

    .instagram{
        margin-right: 10px;
        width: 30px;
        height: 30px;
        color: red;
    }
    .tiktok{
        margin-right: 10px;
        width: 30px;
        height: 30px; 
    }
     .facebook{
        margin-right: 10px;
        width: 30px;
        height: 30px;
        color: blue;
        background-color: white;
        border-radius: 50px;
     }
}


@media screen and (max-width:376px){
    
    .bienvenida_p{
        width: 580px;
        height: 285px;
    }
    
    .jugar_ahora a{
        position: absolute;
        top: 500px;
        left: 145px;
    }
    
    h2{
        padding-left: 30px;
        padding-right: 25px;
    }
    
    .descarga_hijo{
        margin-left: 60px;
        font-size: 20px;
        padding: 10px 10px;
    }
}


@media screen and (max-width:321px){

    .bienvenida_p{
        height: 355px;
    }
    
    .jugar_ahora a{
        position: absolute;
        top: 560px;
        left: 120px;
    }
    
    h2{
        padding-left: 15px;
        padding-right: 20px;
    }
    
    .descarga_hijo{
        margin-left: 30px;
        font-size: 20px;
    }
    
}









            /* ESTILOS RANKING */ /* ESTILOS RANKING */



.ranking_menu{
    max-width: 900px;
    background-color: black;
    margin: auto;
    margin-top: 50px;
    border: ridge 4px greenyellow;
    border-radius: 40px;
    
}

.ranking_menu_horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.ranking_menu_horizontal li a{
    display: block;
    color: white;
    padding: 18px 20px 0px 20px;
}

.ranking_menu_horizontal li:hover .ranking_menu_vertical{
    display: block;
}

.ranking_menu_vertical{
    list-style: none;
    position: absolute;
    display: none;
}

.ranking_menu_vertical li a{
    background-color: rgba(0, 0, 0, 0.474);
    text-align: center;
    display: block;
    width: 150px;
    height: auto;
    margin-bottom:2px;
    border: ridge 2px black;
    border-radius: 30px;
}

.ranking_menu_vertical li a:hover{
    background-color: red;
}

ul li a{
    text-decoration: none;
}

.ranking_buscar{
    margin-top: 14px;
}



/* CUADROS */ /* CUADROS */ /* CUADROS */



.padre_medio_ranking{
    display: flex;
    justify-content: center;
    height: 600px;
    margin-top: 90px;
}

.ranking_cuadro{
    list-style: none;
    font-size: 30px;
    text-align: center;
}

.ranking_cuadro li{
    background-color: whitesmoke;
    border: ridge 5px black;
}

.padre_cambio_de_pagina{
    display: flex;
    justify-content: center;
}

.cambio_de_pagina{
    display: flex;
    border: solid 1px black;
    border-radius: 5px;
}

.pagina_link{
    color: black;
    background-color: red;
    padding: 6px 13px;
    border-radius: 5px;
    
}

.redes_padre_ranking{
    display: flex;
    justify-content:end;
    padding-top: 10px;
}

.instagram_ranking{
    margin-right: 20px;
    width: 50px;
    height: 60px;
    color: red;
}
.tiktok_ranking{
    margin-right: 70px;
    width: 45px;
    height: 45px; 
}
 .facebook_ranking{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    color: blue;
    background-color: white;
    border-radius: 50px;
 }

 .descarga_padre_ranking{
    margin-top: 20px;
}

.descarga_hijo_ranking{
    font-size: 25px;
    color: white;
    background-color: black;
    text-decoration: none;
    border: ridge 5px red;
    border-radius: 20px;
    padding: 10px 10px;
    margin-left: 18px;
}


@media screen and (max-width:1024px){
    
    .instagram_ranking{
        margin-right: 20px;
        width: 40px;
        height: 40px;
        
    }
    
    .tiktok_ranking{
        margin-right: 40px;
        width: 40px;
        height: 40px; 
    }

     .facebook_ranking{
        margin-right: 20px;
        width: 40px;
        height: 40px;
     }

     .descarga_padre_ranking{
        margin-top: 20px;
    }
    
    .descarga_hijo_ranking{
        font-size: 20px;
        margin-left: 15px;
    }
    
}