$fondo__menu: rgba(0, 0, 0, 0.452);
$fondo__listas: black;
$fondo__img_descargas: whitesmoke;
$fondo__uno: rgba(29, 18, 41, 0.838);
$fondo__dos: rgba(7, 71, 54, 0.838);
$fondo__tres: rgb(165, 220, 26);
$letras: white;
$texto__resaltado: rgb(227, 39, 39);