body{  
    margin: 0px;
    padding: 0px;
    background-image: url(../imagenes/prueba2.jpg);
    font-family: serif
}

@mixin historias__img {
        width: 250px;
        height: 287px;
        border: solid 2px white;
        border-radius: 80px;
}
@import "colores";
@import "bordes";
        /* PAGINA PRINCIPAL */

.menu{
     background-color: $fondo__menu;
}

.nombre_web{
    text-decoration: none;
    color: white;
}

.menu_img{
    right: 40px;
    width: 50px;
    height: 50px;
    border: solid 2px white;
    border-radius: 100px;
        }
        
.menu_link{
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 4px 5px 0px 5px ;
    justify-content: space-around;
    text-decoration: none;
    font-size: 20px;
    & a:hover{
        color: black;
        background-color: whitesmoke;
        margin-bottom: 15px;
        border: solid 2px black;
        border-radius: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
}

.padre_medio_izq_index{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.nombre_moustros{
    font-size: 28px;
    margin-top: 20px;
    background-color: greenyellow;
}

.moustros{
    font-size: 33px;
}

.cuadro_moustro_index{
    color: white;
    background-color: black;
    margin-top: 88px;
    width: 250px;
    height: 470px;
    margin-left: 40px;
    text-align: center;
    border: ridge 3px whitesmoke;
    
}

.jugar_ahora{
    display: flex;
    justify-content: center;
    align-items: end;
    a{
        color: white;
        background-color: black;
        text-decoration: none;
        margin-bottom: 50px;
        font-size: 30px;
        border: ridge 3px yellowgreen;
        padding: 5px;
        border-radius: 100px;
        &:hover {
            color: black;
            background-color: whitesmoke;
        }
    }
}



.bienvenida_index{
    display: flex;
    justify-content: center;
    width: 300px;
    margin-right: 25px;
    text-align: center;
}

.bienvenida_p{
    color: white;
    background-color: black;
    border: ridge 5px yellowgreen;
    border-radius: 50px;
    width: 260px;
    font-size: 20px;
}

.redes_padre_ranking{
    display: flex;
    justify-content:end;
    padding-top: 10px;
}

.instagram{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    color: red;
}
.tiktok{
    margin-right: 70px;
    width: 45px;
    height: 45px; 
}
 .facebook{
    @extend .instagram;
    color: blue;
 }

 .descarga_padre_ranking{
    margin-top: 20px;
        a {
        font-size: 25px;
        color: white;
        background-color: black;
        text-decoration: none;
        border: ridge 5px red;
        border-radius: 20px;
        padding: 10px 10px;
        
    }
}


@media screen and (max-width:1111px){
    .jugar_ahora a{
        font-size: 25px;
    }
}

@media screen and (max-width:1051px){

    .nombre_pagina{
        height: 40px;
        display: flex;
        justify-content: center;
        width: 100%;  
    }

    .menu_link{
        display: flex;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 943px){
    .jugar_ahora a{
        font-size: 23px;
    }

    .nombre_moustros{
        font-size: 25px;
        margin-top: 20px;
    }
    
    h2{
        font-size: 25px;
    }

    .cuadro_moustro_index{
        font-size: 10px;
        margin-top: 120px;
        width: 240px;
        height: 390px;
        margin-left: 50px;
    }
    

    .bienvenida_p{
        border-radius: 30px;
        width: 230px;
        font-size: 20px;
    }


}

@media screen and (max-width: 871px){
    .jugar_ahora a{
        font-size: 20px;
    }
    .instagram{
        width: 40px;
        height: 40px;
    }
    .tiktok{
        width: 40px;
        height: 40px; 
    }
     .facebook{
        width: 40px;
        height: 40px;
     }

     .descarga_padre_ranking a{
        font-size: 23px;
     }
    
}

@media screen and (max-width: 818px){
    .jugar_ahora a{
        font-size: 15px;
    }
}


@media screen and (max-width:768px){
    
    .menu_img{
        width: 40px;
        height: 40px;
    }

    .jugar_ahora a{
        font-size: 17px;
    }

    .bienvenida_p{
        padding: 2px;
    }

    .tiktok{
        margin-right: 45px;
    }
     
}

@media screen and (max-width:767px){
    
    .nombre_moustros{
        font-size: 28px;
    }
    
    .cuadro_moustro_index{
        order: 2;
        margin-top: 10px;
        width: 80%;
        height: 390px;
        margin-left: 75px;
        
    }
    
    .jugar_ahora a{
            font-size: 20px;
            margin-top: 25px;
    }
    
    
    .bienvenida_index{
        order: -1;
        width: 100%;
    }
    
    .bienvenida_p{
        padding: 7px;
        border: ridge 4px yellowgreen;
        border-radius: 40px;
        width: 90%;
    }
    
    .redes_padre_ranking{
        position: relative;
        top: 50px;
        order: -1;
        a{
            font-size: 20px;
        }
    }
    
    .tiktok{
        margin-right: 10px;
    }
}
    

@media screen and (max-width:640px){
  
    .instagram{
        margin-right: 15px;
    }
    .tiktok{
        margin-right: 1px;
    }
     .facebook{
        margin-right: 15px;
     }
    
    .cuadro_moustro_index{
        width: 80%;
        height: 390px;
        margin-left: 53px;
        
    }
}

@media  screen and (max-width:500px){

    .instagram{
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }
    .tiktok{
        width: 30px;
        height: 30px;
    }
     .facebook{
        margin-right: 10px;
        width: 30px;
        height: 30px;
     }
    
    .descarga_padre_ranking a{
        font-size: 18px;
    }

    .cuadro_moustro_index{
        margin-left: 45px;
    }
}


@media screen and (max-width:426px){

    .nombre_pagina{
        height: 30px;
    }
    
    .menu_img{
        width: 35px;
        height: 35px;
    }
    
    .menu_link{
        font-size: 15px;
    }
    
    .padre_medio_izq_index{
        margin-top: 60px;
        margin-right: 5px;
    }
    
    .nombre_moustros{
        font-size: 25px;
        margin-top: 20px;
    }
    
    h2{
        display: inline;
        padding-left: 40px;
        padding-right: 30px;
    }

    .cuadro_moustro_index{
        margin-top: 80px;
        width: 411px;
        height: 200px;
        margin-left: 10px;
        text-align: center;
    }
    
    
    .jugar_ahora a{
        position: absolute;
        top: 460px;
        left: 155px;
        font-size: 15px;
    }


    .bienvenida_index{
        order: -1;
        width: 580px;
        margin-left: 10px;
        text-align: center;
    }
    
    .bienvenida_p{
        width: 580px;
        height: 260px;
        font-size: 15px;
        padding: 5px 10px;
    }

    .descarga_padre_ranking a{
        font-size: 15px;
    }
    
    .redes_padre{
        margin-bottom: 20px;
    }

}


@media screen and (max-width:376px){
    
    .bienvenida_p{
        height: 310px;
    }
    
    .jugar_ahora a{
        top: 500px;
        left: 145px;
    }
    
    h2{
        padding-left: 30px;
        padding-right: 25px;
    }
    
}



@media screen and (max-width:360px){
    
    .jugar_ahora a{
        left: 130px;
    }
    .bienvenida_p{
        height: 320px;
        }
}



@media screen and (max-width:324px){

    .bienvenida_p{
        height: 380px;
        }
    
    .jugar_ahora a{
        top: 570px;
        left: 110px;
    }
    
    h2{
        padding-left: 15px;
        padding-right: 20px;
    }

    .descarga_padre_ranking a{
        font-size: 13px;
    }
    
}  

@media screen and (max-width:306px){
    .bienvenida_p{
        height: 365px;
        
    }
    .jugar_ahora a{
        top: 570px;
        left: 105px;
    }
    .descarga_padre_ranking a{
            font-size: 12px;
            border: ridge 3px red;  
        }
}


@media screen and (max-width:284px){
    .bienvenida_p{
        height: 375px;
        
    }
    .jugar_ahora a{
        top: 570px;
        left: 105px;
    }
    .descarga_padre_ranking a{
            font-size: 12px;
            border: ridge 3px red;  
        }
}




                /* CAMPEONES */ /* CAMPEONES */

.padre_selector{
background-color: gray;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 50px;
padding-top: 15px;

}

.selector{
    color: black;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}

.campeones {
    display: inline;
    list-style: none;
    font-size: 20px;
    padding-left: 50px;
    a{
        color: black;
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        &:hover{
            background-color: red;

        }
    }
}

.padre_carousel{
    display: flex;
    justify-content: center;

}
#carouselExampleCaptions{
    width: 50%;
    height: 710px;
    margin-bottom: 60px;
}

.padre_img{
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: whitesmoke;
    border: solid 5px whitesmoke;
    border-radius: 10px;
}


.img{
    border-radius: 95px;
    width: 100%;
    height: 700px;
}

.descripcion_campeones{
    font-size: 20px;
}

@media screen and (max-width:1025px){
    #carouselExampleCaptions{
        width: 70%;
    }
    
}

@media screen and (max-width:769px){

    #carouselExampleCaptions{
        width: 90%;
    }
    .img{
        border-radius: 60px;
    }
    
}

@media screen and (max-width:426px){
    #carouselExampleCaptions{
        height: 610px;
        width: 100%;
    }

    .img{
        border-radius: 35px;
        height: 600px;
    }
    
    .descripcion_campeones{
        font-size: 17px;
    }
}

@media screen and (max-width:376px){
    #carouselExampleCaptions{
        height: 510px;
    }

    .img{
        border-radius: 35px;
        height: 500px;
    }
    
    .descripcion_campeones{
        font-size: 16px;
    }
}




            /* SECTOR RANKING */ /* SECTOR RANKING */
    

.ranking_menu{
        max-width: 900px;
        background-color: black;
        margin: auto;
        margin-top: 50px;
        border: ridge 4px greenyellow;
        border-radius: 10px;
                
}
            
.ranking_menu_horizontal{
        list-style: none;
        display: flex;
        justify-content: space-around;
        li a{
            display: block;
            color: white;
            padding: 18px 20px 0px 20px;
            }
            & li:hover .ranking_menu_vertical{
                    display: block;
                }
            }

            
            
.ranking_menu_vertical{
        list-style: none;
        position: absolute;
        display: none;
        li a{
            background-color: rgba(0, 0, 0, 0.474);
            text-align: center;
            display: block;
            width: 130px;
            height: 40px;
            margin-bottom:2px;
            padding-bottom: 10px;
            border: ridge 2px black;
            border-radius: 30px;     
            }
            & li:hover{
                background-color: red;
                border-radius: 20px;
            }  
}

.ranking_buscar{
    margin-top: 14px;
} 

ul li a{
    text-decoration: none;
}


/* CUADROS */ /* CUADROS */ /* CUADROS */


.padre_medio_ranking{
    display: flex;
    justify-content: center;
    height: 600px;
    margin-top: 90px;
}

.ranking_cuadro{
    list-style: none;
    font-size: 30px;
    text-align: center;
    li{
        background-color: whitesmoke;
        border: ridge 5px black;
    }
}

.padre_cambio_de_pagina{
    display: flex;
    justify-content: center;
}

.cambio_de_pagina{
    display: flex;
    border: solid 1px black;
    border-radius: 5px;
}

.pagina_link{
    color: black;
    background-color: red;
    padding: 6px 13px;
    border-radius: 5px;
}


 @media screen and (max-width: 768px){
    .padre_medio_ranking{
        margin-right: 10px;
    }
 }

 @media screen and (max-width: 340px){
    .padre_medio_ranking{
        margin-right: 15px;
    }
 }
 

         /* SECTOR LISTA DE DROPS */ /* SECTOR LISTA DE DROPS */

        /* LISTA 1 */
.nombre_drops{
    color: white;
}
.lista{
    margin-top: 20px;
    background-color: white;
    text-align: center;
    font-size: 50px;
    font-family: fantasy;
}
        
.contenedor_lista1{
    background-color: $fondo__listas;
    border: solid 2px greenyellow;
    margin: 10px;
}
        
.lista1_ul h1{
    font-size: 30px;
    color: white;
}
        
.lista1_ul li{
             padding-bottom: 20px;
             color: white;
             font-size: 20px;
}


        /* LISTA 2 */

.contenedor_lista2{
    @extend .contenedor_lista1;
    border: solid 2px red;
}
        
.lista2_ul h1{
    color: white;
    font-size: 30px;
}
        
.lista2_ul li{
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}
        
        /* LISTA 3 */

.contenedor_lista3{
    @extend .contenedor_lista1;
    border: solid 2px greenyellow;
}
            
.lista3_ul h1{
    color: white;
    font-size: 30px;
}
            
.lista3_ul li{
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}

            /* LISTA 4 */


.contenedor_lista4{
    @extend .contenedor_lista1;
    border: solid 2px red;
}
            
.lista4_ul h1{
    color: white;
    font-size: 30px;
}
            
.lista4_ul li{
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}

        /* LISTA 5 */

.contenedor_lista5{
    @extend .contenedor_lista1;
    border: solid 2px greenyellow;
}
            
.lista5_ul h1{
    color: white;
    font-size: 30px;
}
            
.lista5_ul li{
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width:769px){
    .lista{
        font-size: 45px;
    }      
    .lista1_ul h1{
        font-size: 25px;
    }
    .lista2_ul h1{
        font-size: 25px;
    }
    .lista3_ul h1{
        font-size: 25px;
    }
    .lista4_ul h1{
        font-size: 25px;
    }
    .lista5_ul h1{
        font-size: 25px;
    }
}

@media screen and (max-width:426px){
    .lista{
        font-size: 40px;
    }
}
            /* SECTOR DESCARGAS */ /* SECTOR DESCARGAS */


.descargas_p{
        color: white;
        background-color: black;
        border: ridge 5px yellowgreen;
        border-radius: 10px;
        text-align: center;
        font-size: 25px;
        margin-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        a{
            text-decoration: none;
            color: greenyellow;
        }
}
            
.descargas_pb{
        @extend .descargas_p;
        border: ridge 2px yellowgreen;
        margin-top: 150px;  
        padding: 10px;
}
            
.descarga_padre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.descarga_img{
    margin-top: 100px;
    width: 300px;
    height: 267px;
    transition: all 1s;
    &:hover{
        width: 350px;
        background-color: $fondo__img_descargas;
        border-radius: 30px;
    }
}

.descarga_r{
    display: flex;
    justify-content: space-between;
}

.descarga_a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: black;
    border: ridge 2px red;
    border-radius: 100px;

}

@media screen and (max-width:926px){
    .descarga_img{
        width: 260px;
    }
    
}

@media screen and (max-width:905px){
    .descarga_img{
        width: 245px;
        height: 237px;
    }
    
}

@media screen and (max-width:768px){
    .descarga_img{
        width: 220px;
        height: 217px;
    }
    
}

@media screen and (max-width:680px){
    .descarga_img{
        width: 220px;
        height: 217px;
        &:hover{
            width: 250px;
        }
    }   
}

@media screen and (max-width:426px){
    .descargas_p{
        font-size: 18px;
    }
}
            /* SECTOR HISTORIAS */ /* SECTOR HISTORIAS */



     /* ZEUS */


     .historias_zeus{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 12px;
        background-color: rgba(0, 255, 255, 0.337);
        border: solid 2px white;
        border-radius: 40px;
    }
    
    .zeus_img{
       @include historias__img;
    }
    
    .zeus_p{
        font-size: 30px;
        text-align: center;
        color: white;
        margin: 10px;
    }
    
    .zeus_nombre{
        color:black;
        background-color: rgba(128, 0, 128, 0.756);
        border-radius: 20px;
        font-size: 50px;
        margin-left: 10px;
        padding: 2px 5px;
        
    }

    /* HERA */

.historias_hera{
    @extend .historias_zeus;
    background-color: rgba(172, 255, 47, 0.337);
    border-radius: $bordes__historias;
}

.hera_img{
   @include historias__img;
}

.hera_p{
    @extend .zeus_p;
}

.hera_nombre{
    @extend .zeus_nombre;
    
}

/* ARTEMISA */


.historias_artemisa{
    @extend .historias_zeus;
    border-radius: $bordes__historias;
}

.artemisa_img{
    @include historias__img;
}

.artemisa_p{
    @extend .zeus_p;
    margin-left: 10px;
    margin-right: 10px;
}

.artemisa_nombre{
    @extend .zeus_nombre;
}



        /* APOLO */
       

.historias_apolo{
    @extend .historias_zeus;
    background-color: rgba(172, 255, 47, 0.337);
    border-radius: $bordes__historias;
}

.apolo_img{
    @include historias__img;
}

.apolo_p{
    @extend .zeus_p;
}

.apolo_nombre{
    @extend .zeus_nombre;
}



        /* ATENEA */
        

.historias_atenea{
    @extend .historias_zeus;
    border-radius: $bordes__historias;
}

.atenea_img{
    @include historias__img;
}

.atenea_p{
    @extend .zeus_p;
    margin: 10px;
    
}

.atenea_nombre{
    @extend .zeus_nombre;
}



        /* HEFESTO */
        

.historias_hefesto{
    @extend .historias_zeus;
    background-color: rgba(172, 255, 47, 0.337);
    border-radius: $bordes__historias;
    
}

.hefesto_img{
    @include historias__img;
}

.hefesto_p{
    @extend .zeus_p;
    margin: 5px;
}

.hefesto_nombre{
    @extend .zeus_nombre;
}


        /* AFRODITA */

        
.historias_afrodita{
    @extend .historias_zeus;
    margin:10px 0px 10px 10px;
    border-radius: $bordes__historias;
    
}

.afrodita_img{
    @include historias__img;
}

.afrodita_p{
    @extend .zeus_p;
}

.afrodita_nombre{
    @extend .zeus_nombre;
}



        /* HADES */

        
.historias_hades{
    @extend .historias_zeus;
    background-color: rgba(172, 255, 47, 0.337);
    border-radius: $bordes__historias;
}

.hades_img{
    @include historias__img;
}

.hades_p{
    @extend .zeus_p;
    margin-left: 5px;
    margin-right: 5px;
}

.hades_nombre{
    @extend .zeus_nombre;
}



        /* POSEIDON */

        
.historias_poseidon{
    @extend .historias_zeus;
    margin-left: 10px;
    border-radius: $bordes__historias;
    
}

.poseidon_img{
    @include historias__img;
}

.poseidon_p{
    @extend .zeus_p;
    margin-right: 10px;
}

.poseidon_nombre{
    @extend .zeus_nombre;
}




        /* ARES */

        
.historias_ares{
    @extend .historias_zeus;
    background-color: rgba(172, 255, 47, 0.337);
    border-radius: $bordes__historias;
}

.ares_img{
    @include historias__img;
}

.ares_p{
    @extend .zeus_p;
    margin-left: 10px;
    margin-right: 10px;
}

.ares_nombre{
    @extend .zeus_nombre;
}



        /* HERMES */

        
.historias_hermes{
    @extend .historias_zeus;
    margin-left: 10px;
    border-radius: $bordes__historias;
}

.hermes_img{
    @include historias__img;
}

.hermes_p{
    @extend .zeus_p;
    
}

.hermes_nombre{
    @extend .zeus_nombre;
    
}



        /* DIONISIO */

        
.historias_dionisio{
    @extend .historias_zeus;
    margin: 10px;
    background-color: rgba(172, 255, 47, 0.337);
    border-radius: $bordes__historias;
}

.dionisio_img{
    @include historias__img;
}

.dionisio_p{
    @extend .zeus_p;
}

.dionisio_nombre{
    @extend .zeus_nombre;
}

@media screen and (max-width:426px) {
    .zeus_nombre{
        font-size: 40px;
        margin-top: 10px;
        
    }
    .zeus_p{
        font-size: 18px;
    }
    .zeus_img{
        width: 90%;
    }
    .hera_img{
        width: 90%;
    }
    .artemisa_img{
        width: 90%;
    }
    .apolo_img{
        width: 90%;
    }
    .atenea_img{
        width: 90%;
    }
    .hefesto_img{
        width: 90%;
    }
    .afrodita_img{
        width: 90%;
    }
    .hades_img{
        width: 90%;
    }
    .poseidon_img{
        width: 90%;
    }
    .ares_img{
        width: 90%;
    }
    .hermes_img{
        width: 90%;
    }
    .dionisio_img{
        width: 90%;
    }
}

@media screen and (max-width:321px) {
    .zeus_nombre{
        font-size: 35px; 
    }
}
      /* SECTOR REGISTRATE */ /* SECTOR REGISTRATE */

      .cuadro_padre{
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }

.registrate_nombre{
    padding-top: 10px;
    font-size: 40px;
}

.registrate_nombres{
    display: block;
    font-size: 25px;
    padding-top: 20px;
}

.registrate_barras{
    width: 250px;
}

.crearcuenta{
    margin-top: 20px;
 }
 
@media screen and (max-width:426px) {
    .registrate_nombre{
        font-size: 35px;
    }
    .registrate_nombres{
        font-size: 23px;
    }
    
}
@media screen and (max-width:376px){
    .cuadro_padre{
        width: 90%;
        margin-left: 18px;
    }
    .registrate_nombre{
        padding-top: 15px;
        font-size: 32px;
    }
    .registrate_nombres{
        font-size: 20px;
    }
}

@media screen and (max-width:321px) {
    .cuadro_padre{
        margin-left: 15px;
    }
    .registrate_barras{
        width: 220px;
    }
}
 

/* SECTOR INICIA SESION */ /* SECTOR INICIA SESION */



.inicia_sesion_cuadro{
    width: 400px;
    height: 500px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.477);
    margin-top: 80px;
    }

    .inicia_nombre{
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 40px;
    }

.nombres{
    display: block;
    font-size: 25px;
    padding-top: 15px;
}

.barras{
    width: 250px;
    margin-bottom: 20px;
}


.entrar{
    width: 80px;
    font-size: 20px;
    margin-top: 35px;
}

@media screen and (max-width:426px) {
    .nombres{
        font-size: 22px;
        padding-top: 30px;
    }
    .inicia_nombre{
        font-size: 40px;
    }
    
.inicia_sesion_cuadro{
    width: 380px;
    height: 450px;
    }
}

@media screen and (max-width:321px) {
    .barras{
        width: 230px;
    }
}